.vs
.vscode
.idea
.gradle
TT.udb
/win-cliient/3rdParty/src/http/httpclient/x64/Debug
/win-cliient/3rdParty/src/libogg/x64/Debug
/win-cliient/3rdParty/src/libsecurity/win/security.dir/Debug
/win-cliient/3rdParty/src/libsecurity/win/Debug
/win-cliient/3rdParty/src/libsecurity/win/CMakeFiles
/win-cliient/lib
/win-cliient/obj
/win-cliient/3rdParty/src/libsecurity/lib/win/release
/win-cliient/3rdParty/src/libsecurity/lib/win/debug
/win-cliient/solution/libsecurity/obj
/win-cliient/bin/teamtalk/Release
/win-cliient/bin/teamtalk/Debug
/win-cliient\bin\teamtalk\Release
/win-cliient\bin\teamtalk\Debug
/win-cliient/3rdParty/src/libsecurity/win/security.dir/Release
/win-cliient/3rdParty/src/libsecurity/win/x64/Debug
/win-cliient/3rdParty/src/libspeex/libspeex/x64/Debug
/win-cliient/3rdParty/src/libspeex/speexdec/x64/Debug
/win-cliient/core/DuiLib/x64/Debug
/win-cliient/core/network/x64/Debug
/win-cliient/core/utility/x64/Debug
/win-cliient/src/GifSmiley/x64/Debug
/win-cliient/src/Modules/x64/Debug
/win-cliient/lib

/android/mgimlibs/build
/android/app/build
/android/local.properties
/android/daogenerator/build
/android/daogenerator/bin
/server/solution
/server/src/libsecurity/android/jni/out/build/x64-Debug
/server/src/libsecurity/src/out/build/x64-Debug
/server/src/lib
/server/src/cmake-build-debug

*.log

/docker/mysql_data
